<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Одежда на вырост</title>
    <style>
        body { background-color: lightblue;
            text-align: center;
        }
        table {
            width: 100%;
            margin-bottom: 20px;
            border: 15px solid #0000cd;
            border-top: 5px solid #0000cd;
            border-collapse: collapse;
        }
        table th {
            font-weight: bold;
            padding: 5px;
            background: #0000cd;
            border: none;
            border-bottom: 5px solid #0000cd;
        }
        table td {
            padding: 5px;
            border: none;
            border-bottom: 5px solid #0000cd;
        }
    </style>
</head>
<a href="/main">Назад</a>
<body>
<h2>Список вещей на вырост</h2>
    <table>
        <tr>
            <th>название</th>
            <th>описание</th>
            <th>действия</th>
            <th>редактировать</th>

        </tr>
        <#list GrowthClothes as growthClothes>
            <tr>
                <td>${growthClothes.title}</td>
                <td>${growthClothes.description}</td>
                <td><a href="/growthclothes/${growthClothes.id}">смотреть</a>
                    <a href="/growthclothes/${growthClothes.id}/delete">удалить</a> </td>
                <form action="/growthclothes/${growthClothes.id}/update" method="post">
                    <td>
                        <label>

                            <input type="text" name="title" value="${growthClothes.title}">
                        </label>
                        <label>

                            <input type="text" name="description" value="${growthClothes.description}">
                        </label>
                        <input type="submit" value="Сохранить">
                </form>
                </td>
            </tr>
        </#list>
    </table>
<br>
<h2>Добавить вещи</h2>

<form action="/growthclothes" method="post">
    <label>

        <input type="text" name="title" placeholder="название">
    </label>
    <label>

        <input type="text" name="description" placeholder="описание">
    </label>

    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>
